body
{
    background-color: #f0f0f0;
}

table, tr, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: #fff;
}

input[type="submit"]
{
    display: block;
    margin-top: 1rem;
}